<section class="collection-grid" xmlns:dv="https://davenda.dev" dv:fragment="grid">
  <h2>Member access</h2>
  <p class="collection-grid__intro">
    Browse the storefront, then open your account for membership status and
    subscription details.
  </p>
  <ul class="collection-grid__list">
    <li class="collection-grid__item">
      <a class="collection-grid__link" href="/account">Open account</a>
    </li>
    <li class="collection-grid__item">
      <a class="collection-grid__link" href="/account/memberships">
        View memberships
      </a>
    </li>
  </ul>
</section>
